---
layout: home
title: Home
permalink: /
---

<div class="row 200%">
    <div class="12u">

        <!-- Blog -->
            <section class="box blog">
                <h2 class="major"><span>Recent Events</span></h2>
                <div>
                    <div class="row">
                        {% assign featured_post = site.posts | first %}
                        <div class="9u 12u(mobile)">
                            <div class="content content-left">
                                <article class="box post">
                                    <header>
                                        <h3><a href="{{ featured_post.url }}">{{ featured_post.title }}</a></h3>
                                        <p class="post-meta">{{ featured_post.date | date: "%b %-d, %Y" }}{% if featured_post.author %} • {{ featured_post.author }}{% endif %}</p>
                                    </header>
                                    {% if post.image %}
                                    <a href="{{ featured_post.url }}" class="image featured"><img src="{{ site.image_url }}/{{ featured_post.image }}" alt="" /></a>
                                    {% endif %}
                                    {{ post.excerpt }}
                                    <a href="{{ featured_post.url }}" class="button">Continue Reading</a>
                                </article>
                            </div>
                        </div>
                        <div class="3u 12u(mobile)">
                            <div class="sidebar">
                                <ul class="divided">
                                    {% for post in site.posts | limit: 6 %}
                                    {% if forloop.first %}
                                        <!-- We skip the first post. -->
                                        {% continue %}
                                    {% endif %}
                                    <li>
                                        <article class="box post-summary">
                                            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                                            <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}</p>
                                        </article>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

    </div>
</div>
