---
layout: default
title: Join
permalink: /join/
---

<div class="row">
    <div class="12u">
        <div class="content">
            <article class="box page-content">

                <header>
                    <h2>How to Join</h2>
                    <p>Become part of something</p>
                </header>

                <section>
                    <span class="image featured"><img src="{{ site.image_url }}/banner.jpg" alt="" /></span>
                    <p>
                        Anyone with a valid Campus Recreation Services membership is eligible to
                        become a part of our team, including students, faculty, staff, and alumni.
                        Simply show up to any <a href="{{ site.baseurl }}/schedule/">team practice</a>
                        you can make it to, and the officer of the day will explain the procedure
                        from there. We meet at the
                        <a href="http://campusrec.utah.edu/facilities/">George S. Eccles Student Life Center</a>,
                        located just below Legacy Bridge and north of the Marriott Honors Community.
                    </p>
                </section>

            </article>
        </div>
        <ul class="actions">
            {% capture popup_text %}
                The mailing list feature has not yet been added.
                Please use the "Contact Us" form to request be added in the meantime.
                Thank you for understanding!
            {% endcapture %}
            {% capture second_button_link %}{{ site.baseurl }}/contact/{% endcapture %}
            <li>{% include coming_soon.html title="Join Mailing List" text=popup_text second_button_text="Contact Us" second_button_link=second_button_link %}</li>
            <li><a href="{{ site.baseurl }}/contact/" class="button alt big">Contact Us</a></li>
        </ul>
    </div>
    <div class="12u">
        <div class="content">
            <article class="box page-content">

                <header>
                    <h2><a name="forms">Forms</a></h2>
                    <p>All paperwork you need to join the team</p>
                </header>

                <section>
                    <p>
                        The OrgSync forms must be completed online, and they include your proof of insurance
                        and assumption of risk forms. Be sure to sign in with your campus ID once you get to
                        the website!
                    </p>
                    <p>
                        The tryout form of previous years has been replaced with a much simpler form. Just
                        show up to practice and an officer will explain the procedure to you!
                    </p>
                </section>

            </article>

            <table class="forms">
                {% for form in site.data.forms %}
                <tr>
                    <th>{{ form.name }}</td>
                    {% if form.url %}
                    <td><a href="{{ form.url }}" class="button">Get It</a></td>
                    {% else %}
                    <td><a href="#" class="button alt no-click">Unavailable</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
