---
layout: default
title: Marketing Board
permalink: /team/marketing/
---

<div class="row">
    <div class="12u">
        <div class="content">

            <article class="box page-content">

                <header>
                    <h2>Marketing Board</h2>
                    <p>The people behind the team's public image</p>
                </header>

                <section class="cover-photo">
                    <img src="{{ site.image_url }}/marketing/2015-16-marketing-group-photo.jpg" />
                </section>

            </article>
        </div>
    </div>

    {% for member in site.data.marketing %}
    <div class="3u 12u(mobile)">
        <div class="officer">
            {% if member.image %}
                {% capture image %}{{ site.image_url }}/{{ member.image }}{% endcapture %}
            {% else %}
                {% capture image %}{{ site.image_url }}/logos/minimal.png{% endcapture %}
            {% endif %}
            <span class="image fit"><img src="{{ image }}" /></span>
            <h2>{{ member.name }}</h2>
            <h4>{{ member.position }}</h4>
            <p>{{ member.info }}</p>
        </div>
    </div>
    {% capture index %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
    {% if index == "4" %}
    <div class="12u" style="padding: 0;">
    </div>
    {% endif %}
    {% endfor %}
</div>
