---
layout: default
title: Officers
permalink: /team/officers/
---

<div class="row">
    <div class="12u">
        <div class="content">

            <article class="box page-content">

                <header>
                    <h2>Executive Board</h2>
                    <p>Team leadership positions</p>
                </header>

            </article>
        </div>
    </div>

    {% for officer in site.data.officers %}
    <div class="4u 12u(mobile)">
        <div class="officer">
            {% if officer.image %}
                {% capture image %}{{ site.image_url }}/{{ officer.image }}{% endcapture %}
            {% else %}
                {% capture image %}{{ site.image_url }}/logos/minimal.png{% endcapture %}
            {% endif %}
            <span class="image fit"><img src="{{ image }}" /></span>
            <h2>{{ officer.name }}</h2>
            <h4>{% if officer.contact %}<a class="icon fa-envelope" href="mailto:{{ officer.contact }}"> {% endif %}{{ officer.position }}{% if officer.contact %}</a>{% endif %}</h4>
            <p>{{ officer.info }}</p>
        </div>
    </div>
    {% capture index %}{% cycle 1, 2, 3 %}{% endcapture %}
    {% if index == "3" %}
    <div class="12u" style="padding: 0;">
    </div>
    {% endif %}
    {% endfor %}

    <div class="12u">
        <div class="content">
            <article class="box page-content">
                <section class="cover-photo">
                    <img src="{{ site.image_url }}/officers/2016-17-officers-group-photo.jpg" />
                </section>
            </article>
        </div>
    </div>
</div>
