---
layout: default
title: Schedule
permalink: /schedule/
---

<div class="row">
    <div class="12u">
        <div class="content">

            <article class="box page-content">

                <header>
                    <h2>Practice Schedule</h2>
                    <p>When to come swim with us</p>
                </header>

                <section>
                    <p>
                        We meet at the
                        <a href="http://campusrec.utah.edu/facilities/">George S. Eccles Student Life Center</a>,
                        located just below Legacy Bridge and north of the Marriott
                        Honors Community. You can find us on the pool deck a few
                        minutes before the scheduled start time of each swim practice.
                    </p>
                </section>

            </article>

        </div>
    </div>

    {% for schedule in site.data.schedule %}
    {% assign morning = schedule.morning %}
    {% assign mt = (morning | map: "time") %}
    {% assign ml = (morning | map: "leader") %}
    {% assign ms = (morning | map: "style") %}
    {% assign evening = schedule.evening %}
    {% assign et = (morning | map: "time") %}
    {% assign el = (morning | map: "leader") %}
    {% assign es = (morning | map: "style") %}
    {% if forloop.first %}
    <div class="2u 12u(mobile)">
    {% else %}
    <div class="2u 12u(mobile)" style="padding-left: 0;">
    {% endif %}
        <div class="schedule">
            <table class="schedule">
                <thead>
                    <th>{{ schedule.day }}</th>
                    <th class="mobile-hidden"></th>
                </thead>
                <tbody>
                    <tr>
                        <th>Time</th>
                        <td>{{ mt }}</td>
                    </tr>
                    <tr>
                        <th>Leader</th>
                        <td>{{ ml }}</td>
                    </tr>
                    <tr>
                        <th>Style</th>
                        <td>{{ ms }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}

    <div class="12u">
        <div class="content">

            <article class="box page-content">

                <header>
                    <h2><a name="meets">Meet Schedule</a></h2>
                    <p>When we'll be competing</p>
                </header>

                <section>
                    <table class="schedule">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Meet</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for meet in site.data.meets %}
                            <tr>
                                <td>{{ meet.date }}</td>
                                <td>{{ meet.name }}</td>
                                <td>{{ meet.location }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>

            </article>

        </div>
    </div>
</div>
