---
layout: default
title: Team
permalink: /team/
---
<div class="row">
    <div class="12u">
        <div class="content">

            <!-- Content -->

                <article class="box page-content">

                    <header>
                        <h2>Team Roster</h2>
                        <p>Currently active team members</p>
                    </header>

                    {% for members_hash in site.data.members reversed %}
                    {% assign key = members_hash[0] | capitalize %}
                    {% assign members = members_hash[1] %}
                    <section>
                        <h3>{{ key }}'s Team</h3>
                        <table class="roster">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Event(s)</th>
                                    <th>Year</th>
                                    <th>Hometown</th>
                                    <th>Last School</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in members %}
                                <tr>
                                    <td>{{ member.last_name }}, {{ member.first_name }}{% if member.middle_initial %} {{ member.middle_initial }}{% endif %}</td>
                                    <td>{{ member.events }}</td>
                                    <td>{{ member.year }}</td>
                                    <td>{{ member.hometown }}</td>
                                    <td>{{ member.school }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </section>
                    {% endfor %}

                </article>

        </div>
    </div>
</div>
