---
layout: default
title: Team
permalink: /team/
---
<div class="row">
    <div class="12u">
        <div class="content">

            <!-- Content -->

                <article class="box page-content">

                    <header>
                        <h2>Team Roster</h2>
                        <p>Currently active team members</p>
                    </header>

                    <section class="cover-photo">
                        <img src="{{ site.image_url }}/2015-16-team-photo.jpg" />
                    </section>

                    <section>
                        <h3>Women's Team</h3>
                        <table class="roster">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Event(s)</th>
                                    <th>Year</th>
                                    <th>Hometown</th>
                                    <th>Last School</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% assign sorted_women = (site.data.members.women | sort: 'last_name') %}
                                {% for member in sorted_women %}
                                {% capture member_lower_name %}{{ member.first_name | downcase | replace: ' ', '-' }}{% if member.middle_initial %}-{{ member.middle_initial | downcase | replace: ' ', '-' }}{% endif %}-{{ member.last_name | downcase | replace: ' ', '-' }}{% endcapture %}
                                <tr class="clickable-row" data-href="members/{{ member_lower_name }}.html">
                                    <td>{{ member.last_name }}, {{ member.first_name }}{% if member.middle_initial %} {{ member.middle_initial }}{% endif %}</td>
                                    <td>{{ member.events }}</td>
                                    <td>{{ member.year }}</td>
                                    <td>{{ member.hometown }}</td>
                                    <td>{{ member.school }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </section>

                    <section>
                        <h3>Men's Team</h3>
                        <table class="roster">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Event(s)</th>
                                    <th>Year</th>
                                    <th>Hometown</th>
                                    <th>Last School</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% assign sorted_men = (site.data.members.men | sort: 'last_name') %}
                                {% for member in sorted_men %}
                                {% capture member_lower_name %}{{ member.first_name | downcase | replace: ' ', '-' }}{% if member.middle_initial %}-{{ member.middle_initial | downcase | replace: ' ', '-' }}{% endif %}-{{ member.last_name | downcase | replace: ' ', '-' }}{% endcapture %}
                                <tr class="clickable-row" data-href="members/{{ member_lower_name }}.html">
                                    <td>{{ member.last_name }}, {{ member.first_name }}{% if member.middle_initial %} {{ member.middle_initial }}{% endif %}</td>
                                    <td>{{ member.events }}</td>
                                    <td>{{ member.year }}</td>
                                    <td>{{ member.hometown }}</td>
                                    <td>{{ member.school }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </section>

                </article>

        </div>
    </div>
</div>
