<footer id="footer" class="container">
    <div class="row 200%">
        <div class="12u">

            <!-- About -->
                <section>
                    <h2 class="major"><span>What's this about?</span></h2>
                    <p>
                        The <strong>University of Utah Club Swim Team</strong> is an intercollegiate competitive club
                        swim team at the University of Utah. We welcome swimmers of all ability levels. If you want to
                        learn more, see our <a href="about.html">About page</a> or <a href="contact.html">contact us</a>!
                    </p>
                </section>

        </div>
    </div>
    <div class="row 200%">
        <div class="12u">

            <!-- Contact -->
            <section>
                <h2 class="major"><span>Get in touch</span></h2>
                <ul class="contact">
                    {% if site.facebook_username %}
                    <li><a class="icon fa-facebook" href="https://www.facebook.com/{{ site.facebook_username }}"><span class="label">Facebook</span></a></li>
                    {% endif %}
                    {% if site.twitter_username %}
                    <li><a class="icon fa-twitter" href="https://twitter.com/{{ site.twitter_username }}"><span class="label">Twitter</span></a></li>
                    {% endif %}
                    {% if site.instagram_username %}
                    <li><a class="icon fa-instagram" href="https://instagram.com/{{ site.instagram_username }}"><span class="label">Instagram</span></a></li>
                    {% endif %}
                    {% if site.flickr_username %}
                    <li><a class="icon fa-flickr" href="https://www.flickr.com/photos/{{ site.flickr_username }}"><span class="label">Flickr</span></a></li>
                    {% endif %}
                    <li><a class="icon fa-comment" href="contact.html"><span class="label">Contact</span></a></li>
                </ul>
            </section>

        </div>
    </div>

    <!-- Copyright -->
    <div id="copyright">
        <ul class="menu">
            <li>&copy; University of Utah Club Swim Team. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>
