<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta name="description" content="{{ site.description }}" />
    <link rel="stylesheet" href="{{ site.asset_url }}/css/main.css" />
    <link rel="icon" type="image/png" href="{{ site.image_url }}/logos/transparent.png">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
</head>
