<header id="header">
    <div class="logo container">
        <div>
            <!-- This part shows up in the mobile navbar. -->
            <h1><a href="{{ site.baseurl }}" id="logo">Utah Club Swimming: {{ page.title }}</a></h1>
            <!-- The image will not appear on mobile. -->
            <a href="{{ site.baseurl }}"><img src="{{ site.image_url }}/logos/transparent.png" /></a>
            <!-- Heading line. -->
            <p>Utah<sup>&reg;</sup> Club Swimming</p>
        </div>
    </div>
</header>
