{% assign member = include.member %}

<p>{{ member }}</p>

<h2>{{ member.first_name }}{% if member.middle_initial %} {{ member.middle_initial }}{% endif %}{% if member.given_name %} "{{ member.given_name }}"{% endif %} {{ member.last_name }}</h2>
<p>{{ member.year }} from {{ member.hometown }}.</p>

{% if member.majors %}
<p>{% if member.year == "Alumna" or "Alum" or "Alumnus" %}Graduated with a degree in {% else %}Studying {% endif %}{{ member.majors[0] }}{% if member.majors.size == 2 %} and {{ member.majors[1] }}{% elsif member.majors.size > 2 %}{% for major in member.majors %}{% unless forloop.first %}{% if forloop.last %}, and {{ major }}{% else %}, {{ major }}{% endif %}{% endunless %}{% endfor %}{% endif %}{% if member.minors %} with{% if member.minors.size == 2 %} minors in {{ member.minors[0] }} and {{ member.minors[1] }}{% elsif member.minors.size > 2 %} minors in {{ member.minors[0] }}{% for minor in member.minors %}{% unless forloop.first %}{% if forloop.last %}, and {{ minor }}{% else %}, {{ minor }}{% endif %}{% endunless %}{% endfor %}{% else %} a minor in {{ member.minors[0] }}{% endif %}{% endif %}.</p>
{% endif %}

{% if member.school %}
<p>Previously studied at {{ member.school }}.
{% endif %}

{% if member.events %}
<p>Swims {{ member.events | downcase }}.</p>
{% endif %}

<hr/>

{% if member.academic_highlights %}
<h4>Academic Highlights</h4>
<ul>
{% for highlight in member.academic_highlights %}
    <li>{{ highlight }}</li>
{% endfor %}
</ul>
{% endif %}

{% if member.athletic_highlights %}
<h4>Athletic Highlights</h4>
<ul>
{% for hash in member.athletic_highlights %}
    {% for group in hash %}
        <li><strong>{{ group[0] }}</strong>
            <ul>
            {% for highlight in group[1] %}
                <li>{{ highlight }}</li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
{% endfor %}
</ul>
{% endif %}
