<div class="row">
    <div class="12u">
        <div class="content">

            <article class="box page-content">

                <header>
                    {% if include.name %}
                    <h2>Redirecting to {{ include.name }}...</h2>
                    {% else %}
                    <h2>Redirecting...</h2>
                    {% endif %}
                </header>

                <p>Your browser should redirect you in 3 seconds. If it does not, <a href="{{ include.target }}">click here</a>.</p>

            </article>
        </div>
    </div>
</div>

<script>
    setTimeout(function(){
        window.location = "{{ include.target }}";
    }, 3000);
</script>
