---
layout: about
title: Sponsors
permalink: /about/sponsors/
---

<article class="box page-content">

    <header>
        <h2>Sponsors</h2>
        <p>People who help fund our team</p>
    </header>

</article>

<div class="row">
    {% for sponsor in site.data.sponsors %}
    <div class="3u 12u(mobile)">
        <div class="sponsor">
            {% if sponsor.logo %}
            {% if sponsor.url %}
            <a href="{{ sponsor.url }}">
                {% endif %}
                <span class="image fit"><img src="{{ site.image_url }}/{{ sponsor.logo }}" /></span>
                {% if sponsor.url %}
            </a>
            {% endif %}
            {% endif %}
        </div>
    </div>
    {% capture index %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
    {% if index == "4" %}
    <div class="12u" style="padding: 0;">
    </div>
    {% endif %}
    {% endfor %}
</div>
