<!DOCTYPE html>
<html>
    {% include head.html %}
    {% include navigation.html %}
    <body class="homepage">
        <div id="page-wrapper">
            {% include header.html %}
            <!-- Banner -->
                <div id="banner-wrapper">
                    <section id="banner">
                        <h2>University of Utah Club Swim Team</h2>
                        <p>An intercollegiate, competitive club swim team at the University of Utah.</p>
                        <a href="{{ site.baseurl }}/about/" class="button">Dive in</a>
                    </section>
                </div>

            <!-- Main -->
                <div id="main-wrapper">
                    <div id="main" class="container">
                        <div class="row 200%">
                            <div class="12u">

                                <!-- Blog -->
                                    <section class="box blog">
                                        <h2 class="major"><span>Recent Events</span></h2>
                                        <div>
                                            <div class="row">
                                                <div class="9u 12u(mobile)">
                                                    <div class="content content-left">

                                                        <!-- Featured Post -->
                                                            <article class="box post">
                                                                <header>
                                                                    <h3><a href="#">Cliff Diving at Causey Reservoir</a></h3>
                                                                    <p>The team takes a day to jump from high rocks</p>
                                                                    <ul class="meta">
                                                                        <li class="icon fa-clock-o">July 3, 2015</li>
                                                                        <li class="icon fa-comments"><a href="#">8</a></li>
                                                                    </ul>
                                                                </header>
                                                                <a href="#" class="image featured"><img src="{{ site.image_url }}/focus-left.jpg" alt="" /></a>
                                                                <p>
                                                                    In lieu of practice, the team met up and headed over to local-favorite cliff diving
                                                                    spot Causey Reservoir. Team bonding is a frequent occurrence for the Utah Club Swim
                                                                    Team, and a holiday is the perfect opportunity to get together and throw yourself
                                                                    from a tall rock into water of unknown depths. But did everyone survive...?
                                                                </p>
                                                                <a href="#" class="button">Continue Reading</a>
                                                            </article>

                                                    </div>
                                                </div>
                                                <div class="3u 12u(mobile)">
                                                    <div class="sidebar">

                                                        <!-- Archives -->
                                                            <ul class="divided">
                                                                <li>
                                                                    <article class="box post-summary">
                                                                        <h3><a href="#">UUCS Wins Another Meet</a></h3>
                                                                        <ul class="meta">
                                                                            <li class="icon fa-clock-o">6 hours ago</li>
                                                                            <li class="icon fa-comments"><a href="#">34</a></li>
                                                                        </ul>
                                                                    </article>
                                                                </li>
                                                                <li>
                                                                    <article class="box post-summary">
                                                                        <h3><a href="#">Trouble in Paradise?</a></h3>
                                                                        <ul class="meta">
                                                                            <li class="icon fa-clock-o">9 hours ago</li>
                                                                            <li class="icon fa-comments"><a href="#">27</a></li>
                                                                        </ul>
                                                                    </article>
                                                                </li>
                                                                <li>
                                                                    <article class="box post-summary">
                                                                        <h3><a href="#">Presidential Scandal!</a></h3>
                                                                        <ul class="meta">
                                                                            <li class="icon fa-clock-o">Yesterday</li>
                                                                            <li class="icon fa-comments"><a href="#">184</a></li>
                                                                        </ul>
                                                                    </article>
                                                                </li>
                                                                <li>
                                                                    <article class="box post-summary">
                                                                        <h3><a href="#">Boy Trapped In Refrigerator Eats Own Foot</a></h3>
                                                                        <ul class="meta">
                                                                            <li class="icon fa-clock-o">2 days ago</li>
                                                                            <li class="icon fa-comments"><a href="#">286</a></li>
                                                                        </ul>
                                                                    </article>
                                                                </li>
                                                                <li>
                                                                    <article class="box post-summary">
                                                                        <h3><a href="#">Officers Hold Emergency Hearing</a></h3>
                                                                        <ul class="meta">
                                                                            <li class="icon fa-clock-o">3 days ago</li>
                                                                            <li class="icon fa-comments"><a href="#">8,086</a></li>
                                                                        </ul>
                                                                    </article>
                                                                </li>
                                                            </ul>
                                                            <a href="#" class="button alt">Browse Archives</a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                            </div>
                        </div>
                    </div>
                </div>
            {% include footer.html %}
        </div>
        {% include scripts.html %}
    </body>
</html>
