---
layout: boring
---

<body class="homepage">
    <div id="page-wrapper">
        {% include navigation.html %}
        {% include header.html %}
        <!-- Banner -->
            <div id="banner-wrapper">
                <section id="banner">
                    <h2>University of Utah Club Swim Team</h2>
                    <p>An intercollegiate, competitive club swim team at the University of Utah.</p>
                    <ul class="actions">
                        <li><a href="{{ site.baseurl }}/about/" class="button">Learn More</a></li>
                        <li><a href="{{ site.baseurl }}/about/join/" class="button">Dive In</a></li>
                    </ul>
                </section>
            </div>

        <!-- Main -->
        {{ content }}
        {% include footer.html %}
    </div>
    {% include scripts.html %}
</body>
